// Setup some font-families
$open-sans:			"Open Sans", "Helvetica Neue", sans-serif;

// Colors for this website
$color-first: 		red;
$color-second:		green;
$color-third:		blue;
$color-highlight:	#e5554e;

$color-background:  white;

// Navbar colors
$nav-font-size:				1em;
$nav-background:			#333;
$nav-color:					#fff;
$nav-item-padding:			15px 24px;

$primary-nav-background: 	$nav-background;
$primary-nav-color:			$nav-color;

$secondary-nav-background: 	$nav-background;
$secondary-nav-color:		$nav-color;

