// Colors for this website
$color-primary:				red;
$color-secondary:			green;
$color-teriary:				blue;
$color-highlight:			#e5554e;

// Surrounding colors
$color-background:  		white;

// Font Settings
$font-base-size:			18px;
$font-body-family:			"Open Sans", "Helvetica Neue", sans-serif;
$font-header-family:		"Merriweather", serif;

// Header settings
$header-color:				white;
$header-background:			black;

// Nav bar settings
$nav-font-size:				1em;
$nav-background:			#333;
$nav-color:					#fff;
$nav-item-padding:			15px 24px;

$nav-primary-background: 	$nav-background;
$nav-primary-color:			$nav-color;

$nav-secondary-background: 	$nav-background;
$nav-secondary-color:		$nav-color;

$nav-header-color:			#333;
$nav-header-background:		#fff;