// Setup some font-families
$open-sans:			"Open Sans", "Helvetica Neue", sans-serif;

// Colors for this website
$color-first: 		red;
$color-second:		green;
$color-third:		blue;
$color-highlight:	orange;

$color-background:  white;

$color-navbar:		#f2f2f2;
