/**
 * These are some pretty colors I've picked up around the web.  They
 * are mostly here so I can remember them
 */
// Greys
$bourbon-editor-grey: 	#494f57;

// From the docs.ghost.org
$ghost-tan:				#edece4;

// Oranges
$bourbon-orange:		#f47a33;