/**
 * This file has all the styling used by the entry-title-banners
 * If you are not using them you can remove this from style.scss
 */
@mixin title-darkener($start-color: #f7f7f7, $howmuch: 15%) {
//	$end-color: darken( $start-color, $howmuch );
// 	@include radial-gradient( $start-color, $end-color );
//	border-bottom: 1px solid darken( $start-color, $howmuch / 2 );
}

@mixin title-background($start-color:#f7f7f7, $end-color:#d2d2d2) {
//   	@include radial-gradient( $start-color, $end-color );
	border-bottom: 1px solid darken( $end-color, 80% );
}

/**
 * Move the entry title just under the navbar and give it a 
 * cool background color to set it apart.
 */
$banner-background-default: #f7f7f7;
$banner-background-404: #F76C37;
$entry-title-h1-color: black;
$entry-title-h2-color: #aaa;

/**
 * These are for custom headers
 */
header.entry-title {
	&.c404 {
		background: $banner-background-404;
		@include title-background( #FFC051, $banner-background-404 );
	}

	&.genesis-entry-title {
		@include title-darkener( $color-first );
	}

	&.entry-title-image {
		background: white;
		padding: 0 0 0 0;
		max-height: 300px;
		overflow: hidden;
	}
}

/**
 * These stylings are for the defaults
 */
header.entry-title {
	padding: 30px 0;

   	@include title-darkener( $banner-background-default );
	h1 {
		@include wrap;
		color: $entry-title-h1-color;
		font-size: 1.1em;
		margin-bottom: 0;
		text-align: center;
	}

	h2 {
		@include wrap;
		color: white;
		font-family: $open-sans;
		font-size: .8em;
		margin-top: 20px;
		text-align: center;
	}
}
